*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --Primary_Colour: ghostwhite;
  --Secondary_Colour: gray;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--Primary_Colour);
  color: var(--Secondary_Colour);
}

#Box{
  margin: 200px auto;
  height: 35px;
  width: 95px;
  border: 2px solid orange;
  border-radius: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

#Box::before{
  content: "";
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url("https://cdn-icons-png.freepik.com/512/3050/3050031.png");
  background-position: center;
  background-size: cover;
  position: absolute;
  transition: 0.4s;
  left: 0;
}

#Box.abc::before{
  transform: rotate(360deg);
  background-image: url("https://cdn-icons-png.freepik.com/512/3222/3222746.png");
  left: calc(100% - 28px);
}

body.abc{
  background-color: var(--Secondary_Colour);
  color: var(--Primary_Colour);
}


