* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: gray;
  color: #333;
}

nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  font-size: 22px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.search-box {
  display: flex;
  gap: 8px;
}

.search-box input {
  padding: 8px 14px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-box button {
  padding: 8px 16px;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 18px;
  font-size: 16px;
}

.nav-links li {
  cursor: pointer;
}

.nav-links li:hover {
  color: #007BFF;
}


/* MAIN */
main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
  padding: 20px;
}


/* CARD */
.Card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 3px lightgray;
  overflow: hidden;
}

.Card img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}



.Card h2 {
  margin: 10px;
}

.Card p {
  margin: 10px;
  font-size: 16px;
  color: gray;
}
